<div>

    <div class="row">
        <div class="span6 ">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="houseNumber">House/Building Number</label>

                    <div class="controls">
                        <input type="text" id="houseNumber" placeholder="House/Building Number"
                               ng-model="address.houseNumber">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="streetName">Street Name</label>

                    <div class="controls">
                        <input type="text" id="streetName" placeholder="Street Name" ng-model="address.streetName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cityName">City</label>

                    <div class="controls">
                        <input type="text" id="cityName" placeholder="City" ng-model="address.cityName">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="district">District</label>
                </div>

            </form>

        </div>
        <div class="span6">
            <form class="form-horizontal">


                <div class="control-group">
                    <label class="control-label" for="district">District</label>

                    <div class="controls">
                        <input type="text" id="district" placeholder="District" ng-model="address.district">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="state">State</label>

                    <div class="controls">
                        <input type="text" id="state" placeholder="District" ng-model="address.state">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="pin">Pin code</label>

                    <div class="controls">
                        <input type="text" id="pin" placeholder="Pin Code" ng-model="address.pinCode">
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>